<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ChiliveryRestaurant.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>B7B1C5F24796453CA2CB2813E059E93F1EBEDB63</string>
				<key>dateExpires</key>
				<string>7/15/20</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>A4CW3PMXW8.com.chilivery.ChiliveryRestaurant</string>
				<key>com.apple.developer.team-identifier</key>
				<string>A4CW3PMXW8</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>A4CW3PMXW8.com.chilivery.ChiliveryRestaurant</string>
				</array>
			</dict>
			<key>name</key>
			<string>ChiliveryRestaurant.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>459c59fc-f7ee-44a9-87a1-0376b1b6cc30</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>A4CW3PMXW8</string>
				<key>name</key>
				<string>Saman Sadeghian</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
